<form>
    <section class="title">
        <img ngSrc="/assets/_material/images/icon-hour.png" height="75" width="75" sizes="(max-width:768px) 100vw,50vw" alt="">
        <p>Horários</p>
    </section>
    <section>
        <h1>Qual período <br> quer treinar?</h1>
        <div class="select-periods">
            <div class="period">
                <input type="checkbox" name="" id="">
                <span>06:00 ás 12:00</span>
            </div>
            <div class="period">
                <input type="checkbox" name="" id="">
                <span>12:01 ás 18:00</span>
            </div>
            <div class="period">
                <input type="checkbox" name="" id="">
                <span>18:01 ás 23:00</span>
            </div>
        </div>
    </section>
    <div class="unidade-fechada">
        <input type="checkbox" name="" id="">
        <span>Exibir unidades fechadas</span>
    </div>
    <section class="buttons-found">
        <p>Resultados encontrados 0</p>
        <app-btn btn-text="Encontrar unidades" colorVariant="primary"></app-btn>
        <app-btn btn-text="Encontrar unidades" colorVariant="secondary"></app-btn>

    </section>
</form>
